{{!-- <nav class="navBar">
    <a class="navItem" href="/api/home">Home</a>
    <a class="navItem" href="/api/users">Users</a>
    <a class="navItem" href="/api/all_posts">My Posts</a>
    <a class="navItem" href="/api/addpost">Add Post</a>
    <button class="profileButton">
        <a class="profileLink navItem" href="/api/user">My Profile</a>
    </button>
</nav> --}}
                {{!-- <img class="caughtUpImage" src="../images/caughtUp3.png"> --}}
                {{!-- <img src="/../images/img1.png" alt="instagram" class="backgroundImage"> --}}

<ul class="navBar">
    <div class="upperPart">
        <span class="instagram"><img class="instagramLogo" src="../../images/instagramlogo.png" alt="INSTAGRAM"></span>
        <li class="navLi"><a class="navItem" href="/api/home"><span class="navIcons"><img class="navIconImages" src="/images/home.png"></span><span class="navIconText">Home</span></a></li>
        <li class="navLi"><a class="navItem" href="/api/users"><span class="navIcons"><img class="navIconImages" src="/images/users.png"></span><span class="navIconText">Users</span></a></li>
        <li class="navLi"><a class="navItem" href="/api/explore"><span class="navIcons"><img class="navIconImages" src="/images/explore.png"></span><span class="navIconText">Explore</span></a></li>
        {{!-- <li class="navLi"><a class="navItem" href="/api/users"><span class="navIcons"><img class="navIconImages" src="/images/explore.png"></span> Reels</a></li>r --}}
        <li class="navLi"><a class="navItem" href="/api/all_posts"> <span class="navIcons"><img class="navIconImages" src="/images/myposts.png"></span><span class="navIconText">MyPosts</span></a></li>
        <li class="navLi"><a class="navItem" href="/api/addpost"><span class="navIcons"><img class="navIconImages" src="/images/create.png"></span><span class="navIconText">Create</span></a></li>
        <li class="navLi"><a class="navItem" href="/api/user"><span class="navIcons"><img class="navIconImages" src="/images/users.png"></span><span class="navIconText">Profile</span></a></li>
        {{!-- <li class="navLi"><a class="navItem" href="/api/message"><span class="navIcons">📝</span> Message</a></li> --}}
    </div>

    <div class="lowerPart">
        <li class="navLi">
            <a class="navItem" href="/logout"><span class="navIcons"><img class="navIconImages logoutImage" src="/images/Logout.png"></span>Logout</a>
        </li>
    </div>
</ul>